/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  left: -999em;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;

  &:focus {
    border-radius: 5px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto;
    clip-path: none;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

.divider {
  border-bottom: 1px solid $black;

  .dark-mode & {
    border-color: $peach;
  }
}

/*==============================
          Font Classes
===============================*/

.is-font-primary {
  font-family: $font__primary;
}

.is-font-primary-bold {
  font-family: $font__primary;
  font-weight: 700;
}

.is-font-arial {
  font-family: $font__secondary_arial;
}

.is-font-times-new-roman {
  font-family: $font__secondary_times_new_roman;
}

.is-font-futura {
  font-family: $font__secondary_futura;
}

.is-font-impact {
  font-family: $font__secondary_impact;
}

/*==============================
          Buttons
===============================*/

.button-transparent {
  text-decoration: none;
  color: $black;
  text-align: center;
  border: 1px solid $black;
  display: inline-block;
  min-width: 165px;
  padding: 11px 10px;
  font-size: 16px;
  font-style: italic;
  transition: color $animation-delay, border-color $animation-delay;

  .dark-mode & {
    color: $peach;
    border-color: $peach;
  }

  @media screen and (min-width: 1024px) and (max-width: 1280px) {
    min-width: 140px;
  }

  &:hover {
    border-color: $color__link;
  }

  &:focus {
    outline: none;
  }
}

.button-dark-lg {
  @include breakpoint(large) {
    background: $black;
    color: $white;
    border-color: transparent;

    &:hover,
    &:focus {
      background: $color__link;
      color: $white;
    }

    .dark-mode & {
      color: $white !important; /* stylelint-disable-line declaration-no-important */
    }
  }
}

.visibility-hidden {
  visibility: hidden;
}

.hide {
  display: none;
}

.main-container {
  word-break: break-word;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}
