$space: 0;
@while $space <= 100 {
  .mt-#{$space} {
    margin-top: #{$space}px !important;
  }
  .mr-#{$space} {
    margin-right: #{$space}px !important;
  }
  .mb-#{$space} {
    margin-bottom: #{$space}px !important;
  }
  .ml-#{$space} {
    margin-left: #{$space}px !important;
  }

  .pt-#{$space} {
    padding-top: #{$space}px !important;
  }
  .pr-#{$space} {
    padding-right: #{$space}px !important;
  }
  .pb-#{$space} {
    padding-bottom: #{$space}px !important;
  }
  .pl-#{$space} {
    padding-left: #{$space}px !important;
  }

  $space: $space + 5;
}

.section-padding {
  margin: 60px 0;
}

.section-padding-top {
  margin-top: 60px;
}

.section-padding-bottom {
  margin-bottom: 60px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-open-sans {
  font-family: $font__primary;
}

.font-martel {
  font-family: $font__heading;
}
