.sort__filter {
  select {
    border: 1px solid #9da7be;
    border-radius: 3px;
    padding: 0 28px 0 18px;
    max-width: 101px;
    font-size: 14px;
    background-position: right 13px center;
  }
}
