.release__infos {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background: #f8f8f8;
  margin-bottom: 20px;

  @media (max-width: 767px) {
    padding: 20px;
  }

  &__outline {
    background: 0;
    border: 1px solid #9da7be;
    margin-bottom: 40px;
  }

  &__tilte {
    font-size: 22px;
    line-height: 26px;
    margin: 0 0 15px;
  }

  &__item {
    line-height: 30px;

    strong {
      font-weight: 600;
      margin-right: 10px;
    }
  }
}
