.newletter_bg {
  background-image: url(./NewsletterBg.svg);
  background-position: 1% bottom;
  border-radius: 25px;
  position: absolute;
  left: 15px;
  top: 0;
  width: calc(100% - 30px);
  height: 100%;
  z-index: -1;
}
