.product__ctg {
  width: 100%;
  height: 320px;
  display: block;
  overflow: hidden;
  border-radius: 10px;

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  &__thumbnail {
    position: relative;

    img {
      width: 100%;
      height: 320px;
      object-fit: cover;
      transition: all 0.25s;
    }
  }

  &__name {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
