/******************** COLORS VARIABLES ********************/
$white: #ffffff;
$black: #000000;
$blue: #0058fe;
$blue_zodiac: #3e485d;
$aluminium: #87898c;
$peach: #f1e9e7;
$gray: #7b7f83;
$pink: #ff3cfe;
$green: #00e600;
$orange: #fe4f00;
$crimson: #f12026;
$border: #606878;

$newsletter__bg: #393d46;
$font__placeholder: #8f98ad;
$placeholder__responsive: #87898c;

$footer__bg: #eeeeee;
$social__border: #8f98ad;

$black_opacity_03: rgba(0, 0, 0, 0.3);
$black_opacity_04: rgba(0, 0, 0, 0.4);
$peach_opacity_05: rgba($peach, 0.5);

$color__body: $white;
$color__link: $crimson;
$color__black-faded: $black_opacity_04;
